NODE_ENV="development"

AMQP_SHOP_SRV_COMMAND_QUEUE="shop_srv.command.queue"
AMQP_SHOP_SRV_EVENT_QUEUE="shop_srv.event.queue"
AMQP_EVENTS_EXCHANGE="event.exchange"

AMQP_PORT=5672
AMQP_HOSTNAME="localhost"
AMQP_USERNAME="admin"
AMQP_PASSWORD="admin"

DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USERNAME="admin"
DATABASE_PASSWORD="admin"
DATABASE_DATABASE_NAME="shop_srv"
